@model TestReverseEngineer.Models.tabItem

<div>
    <h4>Your image is ready!</h4>
    <hr />
    <img src="~/images/@Model.ProductImage" alt="@Model.ImageName"/>
@*    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnitPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnitPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sold)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sold)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductImage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductImage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DigitalSignature)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DigitalSignature)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedByNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedByNavigation.FullName)
        </dd>
    </dl>*@
</div>
<div>
    <a asp-controller="Item" asp-action="MyOrders">Back to My Orders</a>
</div>
